.blogImage {
  display: flex;
  flex-direction: column;
  justify-self: center;
  height: 350px;
  width: 500px;
  margin-bottom: 2rem;
}

.blogTitle {
  margin-bottom: 0.7rem;
}

@media only screen and (min-device-width: 390px) and (max-device-width: 844px) {
  .blogImage {
    height: 200px;
    width: 300px;
  }
}
