.blog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 5rem;
    font-weight: bolder;
    letter-spacing: 0.5rem;
  }

  h3 {
    font-size: 1.9rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
  }
}

.posts {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  margin: 1rem 0;
}

.post-list {
  background: #f4f4f4;
  color: #000000;
  display: block;
  padding: 1rem;
  text-decoration: none;
  height: 28rem;
  width: 33rem;
}

.post-list:hover {
  background: #e4e4e4;
}

@media only screen and (min-device-width: 390px) and (max-device-width: 844px) {
  .blog {
    text-align: center;

    h1 {
      font-size: 2.5rem;
      font-weight: bolder;
      letter-spacing: 0.5rem;
    }

    h3 {
      font-size: 1rem;
      font-weight: bold;
    }

    p {
      font-size: 0.8rem;
    }
  }

  .posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .post-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 18rem;
    width: 18rem;
  }
}
