.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;
}

.post-list {
  background: #f4f4f4;
  color: #000000;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.post-list:hover {
  background: #e4e4e4;
}
