@import url("https://fonts.cdnfonts.com/css/zapfino");

.header {
  padding: 1rem 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
}

.logo {
  font-size: 30px;
  text-decoration: none;
  color: black;
  font-family: "Zapfino", sans-serif;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  font-size: 1.3rem;
  margin-right: 4.5rem;
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  border-bottom: 2px solid black;
}
