@import url("https://fonts.cdnfonts.com/css/apercu");

* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "apercu", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 13rem;
}

.img-section {
  height: 450px;
  width: 370px;
}
.hero {
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
}

.titles {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: bolder;
}

.job {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}

.social {
  display: flex;
  flex-direction: row;
}

.social-link {
  border: 1px solid black;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 12px;
  margin-right: 1rem;
  color: black;
}

.social-link:hover {
  background: #000;
  color: white;
}

.featureBlog {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blogImage {
  height: 25rem;
  width: 35rem;
  margin-right: 4rem;
  -webkit-box-shadow: 10px 10px 17px -3px rgba(153, 151, 153, 1);
  -moz-box-shadow: 10px 10px 17px -3px rgba(153, 151, 153, 1);
  box-shadow: 10px 10px 17px -3px rgba(153, 151, 153, 1);
}

.blogtext {
  width: 28rem;
}

.button {
  color: black;
  border: rgb(187, 184, 184) solid 1px;
  border-radius: 6px;
  padding: 4px 6px;
}

.button:hover {
  border: black solid 1.75px;
  border-radius: 6px;
  padding: 4px 6px;
}

.latest-projects {
  margin-top: 10rem;
  margin-bottom: 8rem;
}

.projectsList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.projects {
  height: 19rem;
  width: 22rem;
  margin: 1rem;
  border: rgb(218, 210, 210) solid 1px;
  -webkit-box-shadow: 10px 10px 17px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 17px -3px rgba(0, 0, 0, 0.75);
}

.projects:hover {
  -webkit-box-shadow: 10px 10px 17px -3px rgba(153, 151, 153, 1);
  -moz-box-shadow: 10px 10px 17px -3px rgba(153, 151, 153, 1);
  box-shadow: 10px 10px 17px -3px rgba(153, 151, 153, 1);
}

.title {
  margin-top: 0.9rem;
  margin-left: 0.3rem;
  font-size: 1rem;
}

.links {
  display: flex;
  justify-content: flex-start;
  margin-left: 0.3rem;
}

.link {
  border: black solid 1px;
  margin-right: 1rem;
  padding: 4px 6px;
  font-size: 0.8rem;
  border-radius: 10px;
  color: black;
}

.link:hover {
  color: whitesmoke;
  background: black;
}

.books {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.bookHead {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.bookCover {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.pic {
  margin-right: 2rem;
}

.pic:hover {
  -webkit-box-shadow: 10px 10px 17px -3px rgba(153, 151, 153, 1);
  -moz-box-shadow: 10px 10px 17px -3px rgba(153, 151, 153, 1);
  box-shadow: 10px 10px 17px -3px rgba(153, 151, 153, 1);
}
