@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Roboto", sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.hi {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.name {
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

.job {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}

.social {
  display: flex;
  flex-direction: row;
}

.social-link {
  border: 1px solid black;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 12px;
  margin-right: 1rem;
}

.social-link:hover {
  background: #000;
  color: white;
}

.latest-articles {
  margin-top: 12rem;
  margin-bottom: 8rem;
}

.article-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.article-list {
  border: rgb(211, 209, 209) solid 1px;
  padding: 2rem 1rem;
  border-radius: 20px;
}

.article-list:hover {
  border: rgb(5, 5, 5) solid 1.5px;
}

.article-heading {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

.article-subheading {
  padding-bottom: 0.5rem;
}

.article-date {
  font-size: 0.8rem;
}
